# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Virtual environment and dependency folders
.env/
.venv/
env/
venv/
pipenv/
Pipfile.lock

# Jupyter runtime and metadata
*.nbconvert.ipynb
*.nb.html
*.nb.json

# VSCode and JetBrains IDEs
.vscode/
.idea/

# Mac OS and Linux
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Jupyter notebook autosave files
*.autosave.ipynb

# System files
desktop.ini